$bodyBackground: #fff;
$textColor: #333;
$linkColor: #339;
$borderColor: #666;

$headerBackground: #eee;
$headerTextColor: $textColor;
$headerTextShadow: #fff;

$highlightBackground: #eee;
$highlightTextColor: $textColor;
$highlightTextShadow: #fff;
$highlightBorderColor: #ddd;

$footerTextColor: #666;
$footerLinkColor: $linkColor;