$bodyBackground: #fff;
$textColor: #333;
$linkColor: #339;
$borderColor: #ccc;

$headerBackground: #eee;
$headerTextColor: $textColor;
$headerTextShadow: #fff;

$highlightBackground: #eee;
$highlightTextColor: $textColor;
$highlightTextShadow: #fff;
$highlightBorderColor: #ddd;

$footerTextColor: #999;
$footerLinkColor: #336;